<html>
    <body>

        <center><h1>Order Master Reports</h1></center>
        <hr/>
        <a href="" onclick="window.print();">Print</a>

        <form method="get" action="/admin/reports/orderdetails">
        Order ID : <select name="id" id="inputEmail3" class="form-control">
            <% for(var i=0; i<order_array.length;i++) { %>
                    <option value='<%= order_array[i]._id %>'> <%= order_array[i].order_date %> | <%= order_array[i].s_name %> | <%= order_array[i].s_mobile %>   </option>
                <% } %>
            </select>
            <input type="submit">
        </form>
    
         
      
    </body>
</html>