
<ol>
    
<li> <a href="/api/userapi/get-category-list">Category List</a> | Get</li>
<li> <a href="/api/userapi/get-sub-category-list">SubCategory List</a> | Get</li> 
<li> <a href="/api/userapi/get-locations-list">Locations List</a> | Get</li> 
<li> <a href="/api/userapi/get-product-list">Product List</a> | Get</li> 


<li> <a href="/api/userapi/get-product-details/:id">Product Details</a> | Get</li> 
 

<li> <a href="/api/userapi/login-api">Login</a> | Post</li> 
<li> <a href="/api/userapi/login-api">Signup</a> | Post</li> 

</ol>